<div id="pageTitle">
    <h1>New Opportunity</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @opportunity.object %>"/>
        <table>
    		
    		  <tr>
    			  <td class="itemLabel">Opportunity id: </td>
    			  <td class="itemValue"><input type="text" name="opportunity[Opportunity_Id]"/></td>
    		  </tr>
    		
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>