<div class="pageTitle">
  <h1>New <%= @opportunity.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @opportunity.object %>"/>
    <ul>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>